body {
    font-family: Arial, sans-serif;
    background: url('/web2EAPHP/images/szeleromuvek.png') no-repeat center center fixed;
    background-size: cover;
    padding-top: 50px; /* Igazítsd a menü magasságához */
}

/* Konténer stílusok */
.container {
    max-width: 1200px; /* Maximális szélesség beállítása */
    margin: 0 auto; /* Középre igazítás */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Fehér háttér enyhe átlátszósággal */
    border-radius: 10px; /* Lekerekített sarkok */
}

h1 {
    color: #333;
}
p {
    color: #666;
}

.menu {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 10px;
    position: fixed; /* Rögzített pozíció a tetején */
    top: 0;
    width: 100%;
    z-index: 1000; /* Magasabb réteg, hogy minden más elem fölött legyen */
}
.menu a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}
.menu a:hover {
    background-color: #575757;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu > ul > li {
    display: inline-block;
    position: relative;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.menu a:hover {
    background-color: #575757;
}

.menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
}

.menu ul li:hover > ul {
    display: block;
}

.menu ul ul li {
    display: block;
}

/* Tartalom eltolása a menü alatt */
body {
    padding-top: 50px; /* Igazítsd a menü magasságához */
}